.wrapper {
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: center;
}

.table thead th {
    background-color: #eef6ff;
}

.modelCell {
    width: 9ch;
    font-size: 0.9em;
    white-space: nowrap;
}

.sensorCell {
    width: 9ch;
    font-size: 0.9em;
    white-space: nowrap;
}

.cellWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
    width: 100%;
}

.cellValue {
    display: inline-block;
}


.indicator {
    border-radius: 50%;
    width: 12px;
    height: 12px;
}

.on {
    background-color: green;
}

.off {
    background-color: red;
}
