.dashboard {
    padding: 20px;
}
.sensorGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.sectionTitle {
    margin-top: 40px;
}
.filterRow {
    margin-bottom: 10px;
}
.filterLabel {
    margin-left: 10px;
}
.numberInput {
    width: 70px;
}
.applyButton {
    margin-left: 10px;
}

.rangeLabel {
    margin-bottom: 10px;
    font-size: 0.9em;
}

.multiBandChartWrapper {
    width: 100%;
}

.spectrumBarChartWrapper {
    width: 100%;
}

.dailyTempChartWrapper {
    width: 100%;
}

@media (min-width: 1000px) {
    .multiBandChartWrapper {
        width: 50%;
        margin: 0 auto;
    }
    .spectrumBarChartWrapper {
        width: 50%;
        margin: 0 auto;
    }
    .dailyTempChartWrapper {
        width: 50%;
        margin: 0 auto;
    }
}
